
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css2?family=Spicy+Rice&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/main.css">
    <title>Nuevo anuncio</title>
</head>
<body>
    <div class="container p-4">
        <form method="POST" action="/new-item" class="card card-body">
            <div class="form-group">
                 <label for="anuncio">Anuncio</label>
                 <input type="text" class= "form-control" name="name" id="name" placeholder= "Introduce nombre anuncio" autofocus required>
            </div>
            <div class="form-group">
                <label for="precio ">Precio</label>
                <input type="text" class= "form-control" name="price" id="price" placeholder= "Introduce precio" required>
            </div>
            <div class="form-group">
                <label for="venta">Venta</label>
                <input type="text" class= "form-control" name="sale" id="sale" placeholder= "Lo quieres vender/comprar? true/false" required>
            </div>
            <div class="form-group">
                <label for="tags">Tags</label>
                <input type="text" class= "form-control" name="tags" id="tags" placeholder= "Introduce tags separados por espacio" required>
            </div>
            <div class="form-group">
                <label for="foto">Foto</label>
                <input type="text" class= "form-control" name="photo" id="photo" placeholder= "Adjunta Foto" required>
            </div>
            <input type="submit" value="Guardar" class="btn btn-primary">
            
        </form>
    
    </div>


</body>
</html>